//templates/edit.html
{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{materia.codmateria}}" method="POST">
          <div class="form-group">
            <input type="text" name="codmateria" value="{{materia.codmateria}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="creditos" value="{{materia.creditos}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="nombremateria" value="{{materia.nombremateria}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}