{% extends './layout.html' %}

{% block title %}Flask-ONTO-PostgreSQL{% endblock %}

{% block body %}
<div class="row"><h3>Materias</h3></div>
<div class="row">
    <div class="col-md-4">
        {% with messages = get_flashed_messages()  %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <form action="{{url_for('add_materia')}}" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control" name="codmateria" placeholder="codmateria">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="creditos" placeholder="creditos">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="nombremateria" placeholder="nombremateria">
                </div>
                <button class="btn btn-primary btn-block">Save</button>
              </form>
        </div>
    </div>
    <div class="col-md-8">
        <table id="example" class="table table-stripped table-bordered" style="width:100%">
            <thead>
              <tr>
                <td>codmateria</td>
                <td>Creditos</td>
                <td>Nombre Materia</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
                {% for row in list_users %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td width="130">
                        <a href="/edit/{{row[0]}}" class="btn btn-secondary btn-sm">edit</a>
                        <a href="/delete/{{row[0]}}" class="btn btn-danger btn-delete btn-sm">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}